In [ ]:
## Arrays

In [2]:
names = ['Mark', 'Jana', 'James']

[ 'Mark', 'Jana', 'James' ]

In [3]:
names[0]

'Mark'

In [4]:
names[1]

'Jana'

In [6]:
names + 'Amr'

'Mark,Jana,JamesAmr'

In [7]:
names[2] = 'Amr'

'Amr'

In [8]:
names

[ 'Mark', 'Jana', 'Amr' ]

In [9]:
delete names[2]

true

In [10]:
names

[ 'Mark', 'Jana', <1 empty item> ]

In [11]:
names[2]

In [12]:
names[2] = 'James'

'James'

In [13]:
names

[ 'Mark', 'Jana', 'James' ]

In [17]:
names.push('Amr')

4

In [18]:
names

[ 'Mark', 'Jana', 'James', 'Amr' ]

In [19]:
names.push('Mark')

5

In [20]:
names

[ 'Mark', 'Jana', 'James', 'Amr', 'Mark' ]

## Objects

In [14]:
person = {
    name: "Mark",
    age: 35,
    isValid: true
}

{ name: 'Mark', age: 35, isValid: true }

In [15]:
person2 = {
    name: 'Chloe',
    isValid: true
}

{ name: 'Chloe', isValid: true }

In [16]:
person3 = {
    5: 'test'
}

{ '5': 'test' }

In [21]:
person.accountBalance = 35

35

In [22]:
person

{ name: 'Mark', age: 35, isValid: true, accountBalance: 35 }

In [23]:
person4 = {
    name: 'Jana',
    isValid: true,
    name: 'James'
}

{ name: 'James', isValid: true }

In [24]:
person.name

'Mark'

In [25]:
person.isValid = false

false

In [26]:
person

{ name: 'Mark', age: 35, isValid: false, accountBalance: 35 }

In [27]:
person[age]

ReferenceError: age is not defined

In [28]:
person['age']

35

In [29]:
attribute = 'age'

'age'

In [30]:
person[attribute]

35

In [31]:
attribute = 'name'

'name'

In [32]:
person[attribute]

'Mark'

## Combining Arrays and Objects

In [33]:
items = [
    {
        name: 'Soccer ball',
        description: 'A soccer ball!',
        price: 80
    },
    {
        name: 'Jersey',
        description: 'Something you can wear!',
        price: 250
    }
]

[
  { name: 'Soccer ball', description: 'A soccer ball!', price: 80 },
  {
    name: 'Jersey',
    description: 'Something you can wear!',
    price: 250
  }
]

In [34]:
items[0]

{ name: 'Soccer ball', description: 'A soccer ball!', price: 80 }

In [35]:
items[1]

{ name: 'Jersey', description: 'Something you can wear!', price: 250 }

In [36]:
items[0].name

'Soccer ball'

In [41]:
users = [
    {
        name: {
            firstName: 'Mark',
            middleName: 'Allen',
            lastName: 'Tupala',
        },
        validAccount: true,
        accountBalance: 35,
        cartItems: [
            {
                name: 'Soccer ball',
                description: 'A soccer ball!',
                price: 80,
            },
            {
                name: 'Jersey',
                description: 'Something you can wear!',
                price: 250,
            },
        ]
    }
]

[
  {
    name: { firstName: 'Mark', middleName: 'Allen', lastName: 'Tupala' },
    validAccount: true,
    accountBalance: 35,
    cartItems: [ [Object], [Object] ]
  }
]

In [39]:
users[0].cartItems[1].price

250